@charset "utf-8";

html{
	font-size:18px;
}
body{
	margin:0px;
	font-family: arial;
	line-height:28px;
	font-size:1rem;
}


.output{
	padding:10px;
	background:#003366;
	color:white;
	margin:5px 3px;
}
.program{
	padding:10px;
	margin:3px;
	font-family: muli_regular;
	background:#ffffff;
	border:1px solid #D4D4D4;
	word-break: break-word;white-space: normal;
}
.outputHead{color:#ffdb4d}
.topic{
	background:#003366;
	height:50px;
	text-align: center;
	color:white;
	font-weight: bold;
	font-size:1rem;
	line-height: 50px;
	font-family: muli_regular;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.programOutput pre{overflow:auto;}
.readers{padding:10px;
	margin:3px;
	background:#ffffff;
	border:1px solid #D4D4D4;
		font-family: arial;
	word-break: break-word;white-space: normal;}
.header{
	background:#202020;
	height:50px;
	text-align: center;
	color:white;
	font-weight: bold;
	font-size:1rem;
	line-height: 50px;
	font-family: muli_regular;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.aptitude{
	padding:10px;
	margin:3px;
	font-family: muli_regular;
	background:#ffffff;
	border:1px solid #D4D4D4;
	word-break: break-word;white-space: normal;



